<template name="allPasswords">
    <div class="row">
        <div class="col-lg-4" data-target="allGroups" style="padding: 30px; position: relative;">
            <h3>Groups</h3>
            <ul class="list-unstyled">
                {{#each groups}}
                    <li><a href="/passwords/group/{{_id}}" data-id="{{_id}}" data-action="getGroup">{{name}}</a></li>
                {{/each}}
            </ul>
        </div>
        <div class="col-lg-4" data-target="groupPasswords" style="opacity: 0;padding: 30px; position: relative;">
            <a href="/back" data-action="backToMain">Back</a>
            <h3>Passwords</h3>
            <ul class="list-unstyled">
                {{#each groupPasswords}}
                    <li><a href="/passwords/group/{{_id}}" data-id="{{_id}}" data-action="getPassword">{{name}}</a></li>
                {{/each}}
            </ul>
        </div>
        <div class="col-lg-4" data-target="passwordDetails" style="opacity: 0;padding: 30px; position: relative;">
            <a href="/back" data-action="backToGroup">Back</a>
            {{#with passwordDetail}}
                <h4>Password</h4>
                <p>{{password}}</p>
                <h4>Description:</h4>
                <p>{{description}}</p>
            {{/with}}
        </div>
    </div>


</template>