<template name="addPassword">
    <div class="row">
        <div class="col-lg-6">
            <form data-name="newPassword">
                <div class="form-group">
                    <label for="inputPassword">Name</label>
                    <input type="text" name="name" class="form-control" id="inputName" placeholder="Enter Display Name">
                </div>
                <div class="form-group">
                    <label for="inputPassword">Password</label>
                    <input type="text" name="password" class="form-control" id="inputPassword" placeholder="Enter password">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea name="description" id="description" class="form-control" placeholder="Enter Description" cols="30" rows="5"></textarea>
                </div>
                <div class="form-group">
                    <select name="group" id="group" data-action="groupSet">
                        <option value=""></option>
                        <option value="addNew">Add Group</option>
                        {{#each groups}}
                            <option value="{{name}}">{{name}}</option>
                        {{/each}}
                    </select>
                </div>
                {{#if newGroup}}
                    <div class="form-group">
                        <input type="text" name="newGroup" placeholder="Group Name"/>
                    </div>
                {{/if}}
                <div class="form-group">
                    <label for="description">Permissions</label>
                    <div class="checkbox">
                        <ul class="list-unstyled">
                            <li><label><input type="checkbox" data-action="setPersonal" name="personal" value="personal"/>Personal</label></li>
                            {{#each roles}}
                                <li><label><input type="checkbox" name="roles" value="{{name}}" {{rolesDisabled}}/>{{name}}</label></li>
                            {{/each}}
                            <li><label><input type="checkbox" name="roles" value="test" {{rolesDisabled}}/>test</label></li>

                        </ul>

                    </div>
                </div>

                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>
</template>