<template name="addPassword">
    <div class="row">
        <div class="col-lg-6">
            <form>
                <div class="form-group">
                    <label for="inputPassword">Password</label>
                    <input type="text" class="form-control" id="inputPassword" placeholder="Enter password">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea name="description" id="description" class="form-control" cols="30" rows="5"></textarea>
                </div>
                <div class="checkbox">
                    <ul class="list-unstyled">
                        <li><label><input type="checkbox" data-action="setPersonal" name="personal" value="personal"/>Personal</label></li>
                        {{#each roles}}
                            <li><label><input type="checkbox" name="roles" value="{{name}}" {{rolesDisabled}}/>{{name}}</label></li>
                        {{/each}}
                    </ul>

                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>
</template>